.signature-dish {
    width: 90%;
    display: flex;
    flex-direction: column;
}

.signature-dish .section-title {
    text-align: center;
}

.signature-dish .featured-dishes {
    display: flex;
    justify-content: center;
    overflow: auto;
    white-space: nowrap;
}

.signature-dish .featured-dishes .dish-card {
    background-color: #F9F4EA;
    margin: 5px;
}

.signature-dish .featured-dishes .dish-card .dish-card-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 20px;
    max-width: 350px;
    justify-content: space-between;
}

.signature-dish .featured-dishes .dish-card .dish-card-content .dish-description {
    white-space: normal;
    text-align: center;
    padding: 0 20px;
    height: 100px;
}

.signature-dish .featured-dishes .dish-card .dish-card-content h3 {
    margin-bottom: 0;
}

.signature-dish .featured-dishes .dish-card .dish-card-content img {
    width: 350px;
    height: 305px;
}

.signature-dish .featured-dishes .dish-card .dish-card-content .dish-price-icons {
    display: flex;
    flex-direction: column;
}

.signature-dish .featured-dishes .dish-card .dish-card-content .dish-price-icons .dish-price {
    margin: 0 0;
}

.signature-dish .featured-dishes .dish-card .dish-card-content .dish-price-icons .dish-icons .dish-icon {
    max-width: 30px;
    max-height: 30px;
    position: relative;
    top: 10px;
    
}